<?xml version="1.0" encoding="UTF-8"?>
<Response>
<Play>{{ data.base_url }}/audio/support-french.wav</Play>
<Play>{{ data.base_url }}/audio/support-french.wav</Play>
<Play>{{ data.base_url }}/audio/support-french.wav</Play>
<Hangup/>
</Response>
