<Redirect method="GET">https://newsline.apps.blindhub.ca/?fetcher=rss&amp;parser=biu&amp;url={{ data.call.room }}&amp;offset=0&amp;home=https://phone.apps.blindhub.ca/teams/cobd.ca/menus/undercurrent-mainmenu</Redirect>
